@model IEnumerable<CodingChallengeAsp.Models.ApiTest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mandal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sukta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sungby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sungbycategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sungfor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sungforcategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.meter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.mandal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sukta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sungby)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sungbycategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sungfor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sungforcategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.meter)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
